<div class="container">
<div class="row">
  <div class="col">
    <section>
      <header class="header">
        <div class="row">
          <div class="col-md-4">
            <h1>Categorias</h1>
          </div>
          <div class="col-md-6">

          </div>
          <div class="col-md-2">

          </div>
        </div>

      </header>
    </section>

    <section class="main">

      <table class="table">
        <thead>
        <tr>
          <th>#</th>
          <th>Nombre</th>
          <th>Descripcion</th>



        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let categoria of categorias">
          <th scope="row">{{categoria.id}}</th>
          <td>{{categoria.nombre}}</td>
          <td>{{categoria.descripcion}}</td>
          <td>
            <button type="button" class="btn btn-success" (click)="editCategoriaPage(categoria)">Editar</button>
            <button type="button" class="btn btn-danger" (click)="deleteCategoria(categoria)">Eliminar</button>
          </td>
        </tr>

        </tbody>
      </table>
    </section>
  </div>
</div>
</div>
