<div class="container">
  <div class="row">
     <div class="col">
       <section>
         <form novalidate [formGroup]="productoForm" (ngSubmit)="onSubmit()">
           <fieldset>
             <div class="form-group">
               <label>Nombre</label>
              <input type="text" class="form-control" formControlName="nombre">
             </div>
             <div class="form-group">
               <label>Categoria</label>
                  <input ng2-auto-complete
                   blank-option-text="Seleccione una Categoria"
                   [(ngModel)]="model2"
                   (ngModelChange)="myCallback($event)"
                   [source]="(autocompleteList)" value-property-name="null"
                   placeholder="enter"
                   class="form-control"
                    formControlName="categoria">
                 </div>
             <div class="form-group">
               <label>Codigo</label>
              <input type="text" class="form-control" formControlName="codigo">
             </div>
             <div class="form-group">
               <label>Descripcion</label>
              <input type="text" class="form-control" formControlName="descripcion">
             </div>
             <div class="form-group">
               <label>precio</label>
              <input type="text" class="form-control" formControlName="precio">
             </div>
           </fieldset>
           <button type="submit" class="btn btn-primary"  [disabled]="!productoForm.valid" >Submit</button>
           <button type="submit" class="btn btn-primary" (click)="redirectProductoPage">Cancel</button>
         </form>
       </section>
     </div>
  </div>
</div>
